

#group {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    max-width: 200px;
}

#group:hover {
    box-shadow: 5px 5px 5px #888888;
    transform: scale(1.05);
}

#photoErr {
    background-image: url('../Images/Logo.PNG');
    grid-row: 1/5;
}

#photo {
    width: 80%;
    height: auto;
    margin: auto;
}

#nom {
    grid-row: 5;
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
}

#nom:hover {
    color: red;
    text-decoration: underline;
}

/*
class to display the bloc containing groupcards as a responsive table
If you want to limit the number of groupcards per column 
: include each groupcard in a parent element and stylize
it thank to the flex-basis property
*/
.groupcards-bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    grid-gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}