header{
    background-color: #541B1B;
    position: relative;
    min-height: 130px;
    color: white;
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;  
}

img{
    height: 120px;
    position: absolute;
    margin-left:90%;
}

#titre{
    font-size: 50px;
    font-family: "Rock Salt";
    font-style: italic;
    text-shadow: #ff0000 3px 3px;
}


#boutonMenu{
    background-color: white;
    color: #541B1B;
    position: absolute;
    margin-right: 90%;
}

#boutonMenu:hover{
    background-color: #762d2d;
    color: white;
    position: absolute;
    margin-right: 90%;
}