#groupPageContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-gap: 10px;
    padding: 10px;
}
#groupPageContent div::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
#groupPageContent div::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
#groupPageContent div {
    overflow-y: scroll;
   }

#photoErr {
    grid-column: 1;
    grid-row: 1/8;
    background-image: url('../Images/Logo.PNG');
}

#photoErr:hover {
    box-shadow: 5px 5px 5px #888888;
    /*zoom sur background image*/
    transform: scale(1.05);
}

#photo {
    width: 80%;
    height: auto;
    margin: auto;
}

#photo:hover {
    box-shadow: 5px 5px 5px #888888;
    /*zoom sur background image*/
    transform: scale(1.05);
}

#nomGroupe{
    grid-column: 1;
    grid-row: 8;
    font-weight: bold;
    font-size: large;
}

#dateGroup{
    grid-column: 1;
    grid-row: 9;
    font-style: italic;
}

#origineGroup{
    grid-column: 1;
    grid-row: 10;
    font-size: large;
}

#descriptionGroup{
    grid-column: 2/5;
    grid-row: 1/6;
    border: 2px solid black;
}

#descriptionGroup:hover{
    box-shadow: 5px 5px 5px #888888;
}

#membresGroup{
    grid-column: 2;
    grid-row: 6/11;
    border: 2px solid black;
}

#membresGroup:hover{
    box-shadow: 5px 5px 5px #888888;
}

#styleGroup{
    grid-column: 3;
    grid-row: 6;
}

#singlesGroup{
    grid-column: 3;
    grid-row: 7/11;
    border: 2px solid black;
}

#singlesGroup:hover{
    box-shadow: 5px 5px 5px #888888;
}

#labelGroup{
    grid-column: 4;
    grid-row: 6;
}

#albumsGroup{
    grid-column: 4;
    grid-row: 7/11;
    border: 2px solid black;
    max-height: 400px;
}

#albumsGroup:hover{
    box-shadow: 5px 5px 5px #888888;
}

.link {
    text-decoration:  underline;
}
.link:hover {
    color: red;
}

#singlesGroup {
    height: 400px;
}

Link > li{
    color: blue; 

}