
.instructions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:7%;
}

.instruction {
    font-style: italic;
    font-size: 150%;
    color: gray;
}

.instruction:hover{
    font-size: 155%;
}

