#personPageContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(var(--rowNum), var(--gridHeight));
    grid-gap: 10px;
    padding: 10px;
}

#photoPerson {
    grid-column: 1;
    grid-row: 1/8;
    background-image: url('../Images/Logo.PNG');
}

#photoPerson:hover {
    box-shadow: 5px 5px 5px #888888;
    /*zoom sur background image*/
    transform: scale(1.05);
}

#nomPerson{
    grid-column: 1;
    grid-row: 8;
    font-weight: bold;
    font-size: large;
}

#nomNaissancePerson{
    grid-column: 1;
    grid-row: 9;
    font-style: italic;
}

#datePerson{
    grid-column: 1;
    grid-row: 10;
    font-style: italic;
}

#nationalitePerson{
    grid-column: 1;
    grid-row: 11;
}

#descriptionPerson{
    grid-column: 2/5;
    grid-row: 1/6;
    border: 2px solid black;
}

#descriptionPerson:hover{
    box-shadow: 5px 5px 5px #888888;
}

#viePerson{
    grid-column: 2;
    grid-row: 6/12;
    border: 2px solid black;
}

#viePerson:hover{
    box-shadow: 5px 5px 5px #888888;
}

#groupesPerson{
    grid-column: 3;
    grid-row: 6/10;
    border: 2px solid black;
}

#groupesPerson:hover{
    box-shadow: 5px 5px 5px #888888;
}

#singlesPerson{
    grid-column: 4;
    grid-row: 6/10;
    border: 2px solid black;
}

#singlesPerson:hover{
    box-shadow: 5px 5px 5px #888888;
}

#partnersPerson{
    grid-column: 3/5;
    grid-row: 10/12;
    border: 2px solid black;
}

#partnersPerson:hover{
    box-shadow: 5px 5px 5px #888888;
}
