.groupcard{
    /*limit to 5 cards per row */
    flex-basis: 17%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#pageNumberText{
    padding: 10px;
    font-size: 1.25em;
    font-family: "Rock Salt";
    font-style: italic;
}


.buttons{
    border-radius: 5px;
    background-color: #f2f2f2;
    border: black 2px solid;
    font-size: 1.25em;
    font-family: "Rock Salt";
}

.buttons:hover{
    background-color: #ddd;
    cursor: pointer;
    box-shadow: 5px 5px 5px #888888;
}